<script>
export let scale = 1;
export let fill= "var(--accent-color)";
</script>

  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="50" transform="scale({scale})" {fill}>
  <path fill="none" d="M0 .5V0h2v3.5q0 .5-.5.5t-.5.5v16q0 .5-.5.5H0V.5"/>
  <path d="M2 .5V0h8v.5q0 .5.5.5H14v9h-.5q-.5 0-.5.5v8q0 .5-.5.5t-.5.5v13q0 .5-.5.5t-.5.5v5q0 .5-.5.5t-.5.5v3q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v.5H5v-.5q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1-1q0-.5-.5-.5H0V21h.5q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1M4.5 44q.5 0 .5-.5v-1q0-.5.5-.5t.5.5.5.5q.5 0 .5-.5t.5-.5.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5-.5-.5h-6q-.5 0-.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5m4-9q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5.5v18q0 .5.5.5m-3 0q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5.5v21q0 .5.5.5m-2 0q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5.5v18q0 .5.5.5m7-23q.5 0 .5-.5v-1-1-1-1-1-1-1q0-.5-.5-.5h-2Q8 4 8 3.5T7.5 3h-3Q4 3 4 3.5v7q0 .5.5.5h5q.5 0 .5.5t.5.5"/>
  <path fill="none" d="M10 .5V0h4v1h-3.5Q10 1 10 .5M4 3.5q0-.5.5-.5h3q.5 0 .5.5t.5.5h2q.5 0 .5.5v7q0 .5-.5.5t-.5-.5-.5-.5h-5q-.5 0-.5-.5v-1-1-1-1-1-1-1M13 10.5q0-.5.5-.5h.5v40H6v-.5q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1M5 13.5q0-.5.5-.5t.5.5v21q0 .5-.5.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1M3 16.5q0-.5.5-.5t.5.5v18q0 .5-.5.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1"/>
  <path fill="none" d="M8 16.5q0-.5.5-.5t.5.5v18q0 .5-.5.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1M2 37.5q0-.5.5-.5h6q.5 0 .5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5-.5.5q-.5 0-.5-.5t-.5-.5q-.5 0-.5.5v1q0 .5-.5.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1M0 39.5V39h.5q.5 0 .5.5v3q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5v.5H0V39.5"/>
</svg>
