<script>
 export let scale = 1;
 export let fill= "var(--accent-color)";
</script>

<svg xmlns="http://www.w3.org/2000/svg" width="36" height="50" transform="scale({scale})" fill="{fill}">
  <path fill="none" d="M0 .5V0h33v.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v.5h-.5q-.5 0-.5.5v.5h-1.5q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5V15h-1.5q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5v1q0 .5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5v1q0 .5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5v1q0 .5-.5.5H0V.5"/>
  <path d="M33 .5V0h2v5h-.5q-.5 0-.5.5v7q0 .5-.5.5t-.5.5v8q0 .5-.5.5t-.5.5v9q0 .5-.5.5t-.5.5v8q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v.5h-1v-.5q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5H0v-1h.5q.5 0 .5-.5v-1q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5v-1q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5v-1q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5H17v.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5q0 .5.5.5t.5.5.5.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5V15h.5q.5 0 .5-.5V14h.5q.5 0 .5-.5V13h.5q.5 0 .5-.5V12h.5q.5 0 .5-.5V11h.5q.5 0 .5-.5t-.5-.5H23v-.5q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5"/>
  <path fill="none" d="M34 5.5q0-.5.5-.5h.5v42H15v-.5q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5q.5 0 .5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1"/>
  <path d="M22 10.5q0-.5.5-.5h.5v1h-1v-.5"/>
  <path fill="none" d="M23 10.5V10h.5q.5 0 .5.5t-.5.5H23v-.5"/>
  <path d="M20 11.5q0-.5.5-.5H22v1h-.5q-.5 0-.5.5v.5h-.5q-.5 0-.5.5v.5h-.5q-.5 0-.5.5v.5h-2v-.5-1q0-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5"/>
  <path fill="none" d="M22 11.5V11h1v.5q0 .5-.5.5H22v-.5M21 12.5q0-.5.5-.5h.5v.5q0 .5-.5.5H21v-.5M20 13.5q0-.5.5-.5h.5v.5q0 .5-.5.5H20v-.5M19 14.5q0-.5.5-.5h.5v.5q0 .5-.5.5H19v-.5M17 15.5V15h2v.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5q0-.5.5-.5t.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5M0 29.5V29h2.5q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v1q0 .5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5v.5H0V29.5"/>
</svg>
