<script>
 import { link } from 'svelte-routing';
 export let fill = "var(--accent-color)";
 export let scale = 1;
 export let isLink = true;
 export let click;
</script>

<style>
 a {
   margin-right: -5px;
 }
</style>

{#if isLink}
<a href="/main" use:link>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" transform="scale({scale})" {fill}>
    <path fill="none" d="M0 .5V0h1v.5Q1 1 .5 1H0V.5"/>
    <path d="M1 .5V0h28v.5q0 .5.5.5h.5v29h-.5q-.5 0-.5.5v.5H1v-.5q0-.5-.5-.5H0V1h.5Q1 1 1 .5M25.5 27q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5h-21Q4 4 4 4.5v22q0 .5.5.5h21"/>
    <path fill="none" d="M29 .5V0h1v1h-.5Q29 1 29 .5M4 4.5q0-.5.5-.5h21q.5 0 .5.5v22q0 .5-.5.5h-21q-.5 0-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1M24.5 26q.5 0 .5-.5v-1-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1-1-1q0-.5-.5-.5h-2q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-2Q5 5 5 5.5v3q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v3q0 .5.5.5h2q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h2"/>
    <path d="M5 5.5q0-.5.5-.5h2q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h2q.5 0 .5.5v3q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5v3q0 .5-.5.5h-2q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-2q-.5 0-.5-.5v-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1-1-1"/>
    <path fill="none" d="M0 30.5V30h.5q.5 0 .5.5v.5H0v-.5M29 30.5q0-.5.5-.5h.5v1h-1v-.5"/>
  </svg>
</a>
{:else}
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" transform="scale({scale})" {fill} on:click={click}>
  <path fill="none" d="M0 .5V0h1v.5Q1 1 .5 1H0V.5"/>
  <path d="M1 .5V0h28v.5q0 .5.5.5h.5v29h-.5q-.5 0-.5.5v.5H1v-.5q0-.5-.5-.5H0V1h.5Q1 1 1 .5M25.5 27q.5 0 .5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1q0-.5-.5-.5h-21Q4 4 4 4.5v22q0 .5.5.5h21"/>
  <path fill="none" d="M29 .5V0h1v1h-.5Q29 1 29 .5M4 4.5q0-.5.5-.5h21q.5 0 .5.5v22q0 .5-.5.5h-21q-.5 0-.5-.5v-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1-1M24.5 26q.5 0 .5-.5v-1-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1-1-1q0-.5-.5-.5h-2q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-2Q5 5 5 5.5v3q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v3q0 .5.5.5h2q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h2"/>
  <path d="M5 5.5q0-.5.5-.5h2q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h2q.5 0 .5.5v3q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5v3q0 .5-.5.5h-2q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-2q-.5 0-.5-.5v-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1-1-1"/>
  <path fill="none" d="M0 30.5V30h.5q.5 0 .5.5v.5H0v-.5M29 30.5q0-.5.5-.5h.5v1h-1v-.5"/>
</svg>
{/if}
