 
            /*
            Welcome to your custom CSS!
            These variables make up the majority of the colors used
            throughout the site.  So adjusting this is a quick way
            to change your site's aesthetic.
            Go ahead, try it out!
            */
            :root{
              /* 
                We are pulling the image! for our bg from the zine folder
                you wanna ensure our relative path is correct.
                and so primary-bg should look like 'url(../zine/image.gif')'
              */
              --primary-bg: url(../zine/lavender.gif);
              --bg-size: auto;
              --bg-position: 0% 0%;
              --bg-repeat: repeat;
              --background-color: #eef6f0;
              --primary-color: #ecceff;
              --accent-color: #679e6d;
              --gradient-top: rgba(176, 71, 144, 0.8);
              --gradient-bottom: rgba(103, 158, 109, 0.8);
              --gradient-opacity: 0.8;
              --gradient-display: linear-gradient(var(--gradient-top), var(--gradient-bottom));
              --theme: "aliens";
            }
                     