<script>
 export let scale = 1;
 export let fill = "var(--accent-color)";
 let paths = ['star1', 'star2', 'alien', 'star3', 'star4']
 let colors = ['red', 'green', 'blue', 'orange', 'purple'];
 $: index = 0;
 $: believe = false;

 let egg = () => {
   if (index === colors.length) {
     believe = true;
     index = 0;
   } else {
     let nextPath = document.querySelector(`path#${paths[index]}`)
     nextPath.style = `fill: ${colors[index]}; fill-opacity:1`
     index += 1;
     }
 };

</script>
<style>
  p {
    font-size: 1.5em;
    color: var(--accent-color);
  }
</style> 

{#if believe}
<p on:click={() => believe = false}>BELIEVE</p>
{:else}
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 255 42"
   height="42"
   fill={fill}
   transform="scale({scale})"
   width="255"
   id="svg7712"
   version="1.1"
   on:click={egg}
  >
  <metadata
     id="metadata7718">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs7716" />
  <g
     id="g7748">
    <path
       id="path7722"
       d="M 0,0.5 V 0 H 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 14.5 15 15.5 16 16.5 17 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 V 0.5 Q 22,1 22,1.5 22,2 21.5,2 21,2 21,2.5 21,3 21,3.5 21,4 20.5,4 20,4 20,4.5 20,5 20,5.5 20,6 19.5,6 19,6 19,6.5 19,7 19,7.5 19,8 19,8.5 19,9 18.5,9 18,9 18,9.5 q 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 10,18 10,17.5 10,17 9.5,17 9,17 8.5,17 8,17 7.5,17 7,17 6.5,17 6,17 5.5,17 5,17 4.5,17 4,17 3.5,17 3,17 2.5,17 2,17 1.5,17 1,17 0.5,17 H 0 V 16.5 16 15.5 15 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="star1"
       d="M 22,0.5 V 0 h 0.5 0.5 v 0.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 Q 37,19 37,19.5 37,20 36.5,20 36,20 36,20.5 36,21 35.5,21 35,21 34.5,21 34,21 34,21.5 34,22 33.5,22 33,22 33,22.5 33,23 32.5,23 32,23 31.5,23 31,23 31,23.5 31,24 30.5,24 30,24 30,24.5 30,25 29.5,25 q -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 V 42 H 31.5 31 V 41.5 Q 31,41 30.5,41 30,41 30,40.5 30,40 29.5,40 29,40 28.5,40 28,40 28,39.5 28,39 27.5,39 27,39 27,38.5 27,38 26.5,38 26,38 26,37.5 26,37 25.5,37 25,37 24.5,37 24,37 24,36.5 24,36 23.5,36 23,36 23,35.5 23,35 22.5,35 22,35 22,34.5 22,34 21.5,34 21,34 21,33.5 21,33 20.5,33 20,33 19.5,33 19,33 19,32.5 19,32 18.5,32 18,32 18,32.5 18,33 17.5,33 17,33 17,33.5 17,34 16.5,34 16,34 15.5,34 15,34 15,34.5 15,35 14.5,35 14,35 14,35.5 14,36 13.5,36 13,36 12.5,36 12,36 12,36.5 12,37 11.5,37 11,37 11,37.5 11,38 10.5,38 10,38 9.5,38 9,38 9,38.5 9,39 8.5,39 8,39 8,39.5 8,40 7.5,40 7,40 6.5,40 6,40 6,40.5 6,41 5.5,41 5,41 5,40.5 5,40 5,39.5 5,39 5.5,39 6,39 6,38.5 6,38 6,37.5 6,37 6.5,37 7,37 7,36.5 7,36 7,35.5 7,35 7.5,35 8,35 8,34.5 8,34 8,33.5 8,33 8,32.5 8,32 8.5,32 9,32 9,31.5 9,31 9,30.5 9,30 9.5,30 10,30 10,29.5 10,29 10,28.5 10,28 10.5,28 11,28 11,27.5 11,27 11,26.5 11,26 10.5,26 10,26 10,25.5 10,25 9.5,25 9,25 9,24.5 9,24 8.5,24 8,24 8,23.5 8,23 7.5,23 7,23 6.5,23 6,23 6,22.5 6,22 5.5,22 5,22 5,21.5 5,21 4.5,21 4,21 4,20.5 4,20 3.5,20 3,20 2.5,20 2,20 2,19.5 2,19 1.5,19 1,19 1,18.5 1,18 0.5,18 H 0 V 17.5 17 h 0.5 q 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 16,13 16.5,13 17,13 17,12.5 17,12 17,11.5 17,11 17.5,11 18,11 18,10.5 18,10 18,9.5 18,9 18.5,9 19,9 19,8.5 19,8 19,7.5 19,7 19,6.5 19,6 19.5,6 20,6 20,5.5 20,5 20,4.5 20,4 20.5,4 21,4 21,3.5 21,3 21,2.5 21,2 21.5,2 22,2 22,1.5 22,1 22,0.5"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="path7726"
       d="M 23,0.5 V 0 h 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 v 0.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 Q 68,6 67.5,6 67,6 67,6.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 V 42 H 59.5 59 58.5 58 57.5 57 56.5 56 55.5 55 54.5 54 53.5 53 52.5 52 51.5 51 50.5 50 49.5 49 48.5 48 47.5 47 46.5 46 45.5 45 44.5 44 43.5 43 42.5 42 41.5 41 40.5 40 39.5 39 38.5 38 37.5 37 36.5 36 35.5 35 34.5 34 33.5 33 32.5 32 v -0.5 q 0,-0.5 0,-1 0,-0.5 0,-1 Q 32,39 31.5,39 31,39 31,38.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 31,35 30.5,35 30,35 30,34.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 30,30 29.5,30 29,30 29,29.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 29,26 28.5,26 28,26 28,25.5 28,25 28.5,25 29,25 29.5,25 30,25 30,24.5 30,24 30.5,24 31,24 31,23.5 31,23 31.5,23 32,23 32.5,23 33,23 33,22.5 33,22 33.5,22 34,22 34,21.5 34,21 34.5,21 35,21 35.5,21 36,21 36,20.5 36,20 36.5,20 37,20 37,19.5 37,19 36.5,19 q -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 28,19 28,18.5 28,18 27.5,18 27,18 27,17.5 27,17 27,16.5 27,16 26.5,16 26,16 26,15.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 26,12 25.5,12 25,12 25,11.5 25,11 25,10.5 25,10 25,9.5 25,9 25,8.5 25,8 25,7.5 25,7 24.5,7 24,7 24,6.5 24,6 24,5.5 24,5 24,4.5 24,4 24,3.5 24,3 23.5,3 23,3 23,2.5 23,2 23,1.5 23,1 23,0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="star2"
       d="M 68,0.5 V 0 H 68.5 69 V 0.5 Q 69,1 69,1.5 69,2 69.5,2 70,2 70,2.5 70,3 70,3.5 70,4 70,4.5 70,5 70.5,5 71,5 71,5.5 71,6 71,6.5 71,7 71.5,7 72,7 72,7.5 72,8 72,8.5 72,9 72.5,9 73,9 73,9.5 q 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 Q 91,17 91,17.5 91,18 90.5,18 90,18 90,18.5 90,19 89.5,19 89,19 89,19.5 89,20 88.5,20 88,20 87.5,20 87,20 87,20.5 87,21 86.5,21 86,21 86,21.5 86,22 85.5,22 85,22 85,22.5 85,23 84.5,23 84,23 84,23.5 84,24 83.5,24 83,24 82.5,24 82,24 82,24.5 82,25 81.5,25 81,25 81,25.5 81,26 80.5,26 80,26 80,26.5 q 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 V 42 H 86.5 86 V 41.5 Q 86,41 85.5,41 85,41 84.5,41 84,41 84,40.5 84,40 83.5,40 83,40 83,39.5 83,39 82.5,39 82,39 82,38.5 82,38 81.5,38 81,38 80.5,38 80,38 80,37.5 80,37 79.5,37 79,37 79,36.5 79,36 78.5,36 78,36 77.5,36 77,36 77,35.5 77,35 76.5,35 76,35 76,34.5 76,34 75.5,34 75,34 75,33.5 75,33 74.5,33 q -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 71,33 71,33.5 71,34 70.5,34 70,34 70,34.5 70,35 69.5,35 69,35 69,35.5 69,36 68.5,36 68,36 68,36.5 68,37 67.5,37 67,37 66.5,37 66,37 66,37.5 66,38 65.5,38 65,38 65,38.5 65,39 64.5,39 64,39 64,39.5 64,40 63.5,40 63,40 63,40.5 63,41 62.5,41 62,41 61.5,41 61,41 61,41.5 V 42 H 60.5 60 v -0.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 62,30 62.5,30 63,30 63,29.5 63,29 63,28.5 63,28 63.5,28 64,28 64,27.5 64,27 64,26.5 64,26 64,25.5 64,25 63.5,25 63,25 62.5,25 62,25 62,24.5 62,24 61.5,24 61,24 60.5,24 60,24 60,23.5 60,23 59.5,23 59,23 59,22.5 59,22 58.5,22 58,22 58,21.5 58,21 57.5,21 57,21 56.5,21 56,21 56,20.5 56,20 55.5,20 55,20 55,19.5 55,19 55.5,19 q 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 67,9 67,8.5 67,8 67,7.5 67,7 67,6.5 67,6 67.5,6 68,6 68,5.5 68,5 68,4.5 68,4 68,3.5 68,3 68,2.5 68,2 68,1.5 68,1 68,0.5"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="path7730"
       d="M 69,0.5 V 0 h 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 v 0.5 q 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 Q 119,1 119,1.5 119,2 118.5,2 118,2 118,2.5 118,3 117.5,3 117,3 116.5,3 116,3 116,3.5 116,4 115.5,4 115,4 115,4.5 115,5 114.5,5 114,5 114,5.5 114,6 113.5,6 113,6 113,6.5 113,7 113,7.5 113,8 112.5,8 112,8 112,8.5 112,9 111.5,9 111,9 111,9.5 q 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 145,9 144.5,9 144,9 144,8.5 144,8 144,7.5 144,7 143.5,7 143,7 143,6.5 143,6 142.5,6 142,6 142,5.5 142,5 141.5,5 141,5 141,4.5 141,4 140.5,4 140,4 139.5,4 139,4 139,3.5 139,3 138.5,3 138,3 138,2.5 138,2 137.5,2 137,2 136.5,2 136,2 136,1.5 136,1 135.5,1 135,1 134.5,1 134,1 133.5,1 133,1 133,0.5 V 0 h 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 v 0.5 q 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 186,8 185.5,8 185,8 185,7.5 185,7 185,6.5 185,6 185,5.5 185,5 184.5,5 184,5 184,4.5 184,4 184,3.5 184,3 184,2.5 184,2 183.5,2 183,2 183,1.5 183,1 183,0.5 V 0 h 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 V 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10 10.5 11 11.5 12 12.5 13 13.5 14 14.5 15 15.5 16 h -0.5 q -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 240,7 239.5,7 239,7 239,6.5 q 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 Q 239,3 238.5,3 238,3 238,2.5 238,2 238,1.5 238,1 237.5,1 237,1 237,1.5 q 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 H 255 V 17.5 18 18.5 19 19.5 20 20.5 21 21.5 22 22.5 23 23.5 24 24.5 25 25.5 26 26.5 27 27.5 28 28.5 29 29.5 30 30.5 31 31.5 32 32.5 33 33.5 34 34.5 35 35.5 36 36.5 37 37.5 38 38.5 39 39.5 40 40.5 41 41.5 42 H 254.5 254 253.5 253 252.5 252 251.5 251 250.5 250 249.5 249 248.5 248 247.5 247 246.5 246 245.5 245 244.5 244 243.5 243 242.5 242 241.5 241 240.5 240 239.5 239 238.5 238 237.5 237 236.5 236 235.5 235 234.5 234 233.5 233 232.5 232 231.5 231 230.5 230 229.5 229 228.5 228 227.5 227 226.5 226 225.5 225 224.5 224 223.5 223 222.5 222 221.5 221 220.5 220 219.5 219 218.5 218 217.5 217 216.5 216 215.5 215 214.5 214 213.5 213 212.5 212 211.5 211 210.5 210 209.5 209 208.5 208 207.5 207 206.5 206 205.5 205 204.5 204 203.5 203 202.5 202 201.5 201 200.5 200 199.5 199 198.5 198 197.5 197 196.5 196 195.5 195 194.5 194 193.5 193 192.5 192 191.5 191 190.5 190 189.5 189 188.5 188 187.5 187 186.5 186 185.5 185 184.5 184 183.5 183 182.5 182 181.5 181 180.5 180 179.5 179 178.5 178 177.5 177 176.5 176 175.5 175 174.5 174 173.5 173 172.5 172 171.5 171 170.5 170 169.5 169 168.5 168 167.5 167 166.5 166 165.5 165 164.5 164 163.5 163 162.5 162 161.5 161 160.5 160 159.5 159 158.5 158 157.5 157 156.5 156 155.5 155 154.5 154 153.5 153 152.5 152 151.5 151 150.5 150 149.5 149 148.5 148 147.5 147 146.5 146 145.5 145 144.5 144 143.5 143 142.5 142 141.5 141 140.5 140 139.5 139 138.5 138 137.5 137 136.5 136 135.5 135 134.5 134 133.5 133 132.5 132 131.5 131 130.5 130 129.5 129 128.5 128 127.5 127 126.5 126 125.5 125 124.5 124 123.5 123 122.5 122 121.5 121 120.5 120 119.5 119 118.5 118 117.5 117 116.5 116 115.5 115 114.5 114 113.5 113 112.5 112 111.5 111 110.5 110 109.5 109 108.5 108 107.5 107 106.5 106 105.5 105 104.5 104 103.5 103 102.5 102 101.5 101 100.5 100 99.5 99 98.5 98 97.5 97 96.5 96 95.5 95 94.5 94 93.5 93 92.5 92 91.5 91 90.5 90 89.5 89 88.5 88 87.5 87 V 41.5 Q 87,41 87,40.5 87,40 86.5,40 86,40 86,39.5 86,39 86,38.5 86,38 85.5,38 85,38 85,37.5 85,37 85,36.5 85,36 84.5,36 84,36 84,35.5 84,35 84,34.5 84,34 83.5,34 83,34 83,33.5 83,33 83,32.5 83,32 83,31.5 83,31 82.5,31 82,31 82,30.5 82,30 82,29.5 82,29 81.5,29 81,29 81,28.5 81,28 81,27.5 81,27 80.5,27 80,27 80,26.5 80,26 80.5,26 81,26 81,25.5 81,25 81.5,25 82,25 82,24.5 82,24 82.5,24 83,24 83.5,24 84,24 84,23.5 84,23 84.5,23 85,23 85,22.5 85,22 85.5,22 86,22 86,21.5 86,21 86.5,21 87,21 87,20.5 87,20 87.5,20 88,20 88.5,20 89,20 89,19.5 89,19 89.5,19 90,19 90,18.5 90,18 90.5,18 91,18 91,17.5 91,17 90.5,17 q -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 76,18 76,17.5 76,17 76,16.5 76,16 75.5,16 75,16 75,15.5 75,15 75,14.5 75,14 75,13.5 75,13 74.5,13 74,13 74,12.5 74,12 73.5,12 73,12 73,11.5 73,11 73,10.5 73,10 73,9.5 73,9 72.5,9 72,9 72,8.5 72,8 72,7.5 72,7 71.5,7 71,7 71,6.5 71,6 71,5.5 71,5 70.5,5 70,5 70,4.5 70,4 70,3.5 70,3 70,2.5 70,2 69.5,2 69,2 69,1.5 69,1 69,0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="alien"
       d="M 122,0.5 V 0 h 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 v 0.5 q 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 126,41 126,40.5 126,40 125.5,40 125,40 125,39.5 125,39 124.5,39 124,39 124,38.5 124,38 123.5,38 123,38 123,37.5 123,37 122.5,37 122,37 122,36.5 122,36 121.5,36 121,36 121,35.5 121,35 120.5,35 120,35 120,34.5 120,34 119.5,34 119,34 119,33.5 119,33 118.5,33 118,33 118,32.5 118,32 117.5,32 117,32 117,31.5 117,31 116.5,31 116,31 116,30.5 116,30 115.5,30 115,30 115,29.5 115,29 115,28.5 115,28 114.5,28 114,28 114,27.5 114,27 113.5,27 113,27 113,26.5 113,26 112.5,26 112,26 112,25.5 q 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 Q 111,9 111.5,9 112,9 112,8.5 112,8 112.5,8 113,8 113,7.5 113,7 113,6.5 113,6 113.5,6 114,6 114,5.5 114,5 114.5,5 115,5 115,4.5 115,4 115.5,4 116,4 116,3.5 116,3 116.5,3 117,3 117.5,3 118,3 118,2.5 118,2 118.5,2 119,2 119,1.5 119,1 119.5,1 q 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 m 8.5,34.5 q 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 Q 127,33 127,32.5 127,32 126.5,32 126,32 126,31.5 126,31 125.5,31 125,31 125,30.5 125,30 124.5,30 q -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 m -6,-9 q 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 Q 123,15 122.5,15 122,15 122,14.5 122,14 121.5,14 121,14 121,13.5 121,13 120.5,13 q -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 m 11,0 q 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="star3"
       d="M 182,0.5 V 0 h 0.5 0.5 v 0.5 q 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 Q 195,41 195,40.5 195,40 194.5,40 194,40 194,39.5 194,39 193.5,39 193,39 192.5,39 192,39 192,38.5 192,38 191.5,38 191,38 191,37.5 191,37 190.5,37 190,37 190,36.5 190,36 189.5,36 189,36 188.5,36 188,36 188,35.5 188,35 187.5,35 187,35 187,34.5 187,34 186.5,34 186,34 186,33.5 186,33 185.5,33 185,33 185,32.5 185,32 184.5,32 q -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 Q 174,24 173.5,24 173,24 173,23.5 173,23 172.5,23 172,23 172,22.5 172,22 171.5,22 171,22 170.5,22 170,22 170,21.5 170,21 169.5,21 169,21 169,20.5 169,20 168.5,20 168,20 168,19.5 168,19 167.5,19 167,19 166.5,19 166,19 166,18.5 166,18 165.5,18 165,18 165,17.5 165,17 164.5,17 164,17 164,16.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="star4"
       d="m 237,1.5 q 0,-0.5 0.5,-0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 h 0.5 v 0.5 0.5 h -0.5 q -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 Q 248,41 248,40.5 248,40 247.5,40 247,40 247,39.5 247,39 246.5,39 246,39 245.5,39 245,39 245,38.5 245,38 244.5,38 244,38 244,37.5 244,37 243.5,37 243,37 243,36.5 243,36 242.5,36 242,36 241.5,36 241,36 241,35.5 241,35 240.5,35 240,35 240,34.5 240,34 239.5,34 239,34 239,33.5 239,33 238.5,33 q -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 Q 229,26 228.5,26 228,26 228,25.5 228,25 227.5,25 227,25 227,24.5 227,24 226.5,24 226,24 226,23.5 226,23 225.5,23 225,23 224.5,23 224,23 224,22.5 224,22 223.5,22 223,22 223,21.5 223,21 222.5,21 222,21 222,20.5 222,20 221.5,20 221,20 220.5,20 220,20 220,19.5 220,19 219.5,19 219,19 219,18.5 219,18 218.5,18 218,18 218,17.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1"
       style="fill:{fill};fill-opacity:1" />
    <path
       id="path7738"
       d="m 137,11.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,-0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7740"
       d="m 115,12.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -0.5,-0.5 0,-0.5 -0.5,-0.5 -0.5,0 -1,0 Q 119,25 119,24.5 119,24 118.5,24 118,24 118,23.5 118,23 117.5,23 117,23 117,22.5 117,22 116.5,22 116,22 116,21.5 116,21 115.5,21 115,21 115,20.5 q 0,-0.5 0,-1 0,-0.5 -0.5,-0.5 -0.5,0 -0.5,-0.5 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0,-1 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7742"
       d="M 0,18.5 V 18 H 0.5 Q 1,18 1,18.5 1,19 1.5,19 2,19 2,19.5 2,20 2.5,20 3,20 3.5,20 4,20 4,20.5 4,21 4.5,21 5,21 5,21.5 5,22 5.5,22 6,22 6,22.5 6,23 6.5,23 7,23 7.5,23 8,23 8,23.5 8,24 8.5,24 9,24 9,24.5 9,25 9.5,25 q 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 0,1 Q 10,30 9.5,30 9,30 9,30.5 9,31 9,31.5 9,32 8.5,32 8,32 8,32.5 8,33 8,33.5 8,34 8,34.5 8,35 7.5,35 7,35 7,35.5 7,36 7,36.5 7,37 6.5,37 6,37 6,37.5 6,38 6,38.5 6,39 5.5,39 5,39 5,39.5 5,40 5,40.5 5,41 5.5,41 6,41 6,40.5 6,40 6.5,40 7,40 7.5,40 8,40 8,39.5 8,39 8.5,39 9,39 9,38.5 9,38 9.5,38 10,38 10.5,38 11,38 11,37.5 11,37 11.5,37 12,37 12,36.5 12,36 12.5,36 13,36 13.5,36 14,36 14,35.5 14,35 14.5,35 15,35 15,34.5 15,34 15.5,34 16,34 16.5,34 17,34 17,33.5 17,33 17.5,33 18,33 18,32.5 18,32 18.5,32 q 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 V 42 H 30.5 30 29.5 29 28.5 28 27.5 27 26.5 26 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5 18 17.5 17 16.5 16 15.5 15 14.5 14 13.5 13 12.5 12 11.5 11 10.5 10 9.5 9 8.5 8 7.5 7 6.5 6 5.5 5 4.5 4 3.5 3 2.5 2 1.5 1 0.5 0 V 41.5 41 40.5 40 39.5 39 38.5 38 37.5 37 36.5 36 35.5 35 34.5 34 33.5 33 32.5 32 31.5 31 30.5 30 29.5 29 28.5 28 27.5 27 26.5 26 25.5 25 24.5 24 23.5 23 22.5 22 21.5 21 20.5 20 19.5 19 18.5"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7744"
       d="m 123,30.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 0.5,-0.5 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0,1 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -0.5,0.5 0,0.5 -0.5,0.5 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 -0.5,0 -1,0 Q 126,35 126,34.5 126,34 125.5,34 125,34 125,33.5 125,33 124.5,33 124,33 124,32.5 124,32 123.5,32 123,32 123,31.5 q 0,-0.5 0,-1"
       style="fill:{fill};fill-opacity:0" />
    <path
       id="path7746"
       d="m 71,33.5 q 0,-0.5 0.5,-0.5 0.5,0 1,0 0.5,0 1,0 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 0.5,0.5 0,0.5 0.5,0.5 0.5,0 1,0 0.5,0 0.5,0.5 V 42 H 85.5 85 84.5 84 83.5 83 82.5 82 81.5 81 80.5 80 79.5 79 78.5 78 77.5 77 76.5 76 75.5 75 74.5 74 73.5 73 72.5 72 71.5 71 70.5 70 69.5 69 68.5 68 67.5 67 66.5 66 65.5 65 64.5 64 63.5 63 62.5 62 61.5 61 V 41.5 Q 61,41 61.5,41 62,41 62.5,41 63,41 63,40.5 63,40 63.5,40 64,40 64,39.5 64,39 64.5,39 65,39 65,38.5 65,38 65.5,38 66,38 66,37.5 66,37 66.5,37 67,37 67.5,37 68,37 68,36.5 68,36 68.5,36 69,36 69,35.5 69,35 69.5,35 70,35 70,34.5 70,34 70.5,34 71,34 71,33.5"
       style="fill:{fill};fill-opacity:0" />
  </g>
</svg>
{/if}
