<script>
  import { newSongIsland } from '../../stores/new-songIsland.js';
import startsWith from 'lodash/startsWith.js';

let link = {
  name: '',
  url: ''
}

function cleanedUrl (url) {
  let validProtocols = ['https://', 'dat://', 'http://', 'mailto:', 'ssb://']
  let urlIsValid = validProtocols.some(protocol => startsWith(url, protocol))
  if (urlIsValid) {
    return url
  } else {
    return 'https://' + url
  }
}

let handleSubmit = (e) => {
  e.preventDefault()
  link.url = cleanedUrl(link.url)
  $newSongIsland.links = [...$newSongIsland.links, link] 
  link = {name: '', url: ''}
}

</script>

<div id='add-links'>
  <h3>Add A Link</h3>
  <form>
    <div class='form-group'>
      <label for='name'>Site Name:</label>
      <input id='name' type='text' bind:value={link.name} placeholder='e.g. bandcamp'/>
    </div>
    <div class='form-group'>
      <label for='url'>URL:</label>
      <input id='url' type='text' bind:value={link.url} placeholder='e.g. https://petalpa.bandcamp.com'/>
    </div>
    <input type='submit' value='add link!' on:click={handleSubmit}/>
  </form>
</div>

<style>
div#add-links {
  display: grid;
  grid-template-columns: minmax(1em, 2em) 1fr;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 80%;
}

div#add-links h3{
  padding-left: 0.5em;
  padding-right: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  grid-row: 1 / -1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
}

div#add-links form {
  border: 1px solid var(--accent-color);
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

div#add-links label {
  background: var(--accent-color);
  color: var(--primary-color);
  font-weight: 300;
  max-width: 25%;
  opacity: 0.5;
}

div#add-links input[type='text'] {
  color: var(--accent-color);
  background: none;
  border: none;
  border-bottom: 1px solid var(--edit_color);
  border-color: var(--accent-color);
  margin-left: 0.5em;
  padding: 0;
  font-size: 1em;
  font-weight: 200;
  width: 75%;
}

div#add-links div.form-group {
  padding-top: 0.5em;
  padding-bottom: 0;
}
div#add-links div.form-group:last-of-type {
  padding-top: 0;
  padding-bottom: 1em;
}

div#add-links input[type=submit] {
  width: 100%;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--accent-color);
  color: var(--primary-color);
  border: none;
  font-size: 1em;
  opacity: 1;
}
</style>
