<script>
import { songIsland } from '../../stores/songIsland.js';
import { audio, ct, dt } from '../../stores/audio.js';
import { gradientDisplay } from '../../stores/new-aesthetic.js';
import { newSongIsland } from '../../stores/new-songIsland.js';
import FiveNext from '../icons/five-next.svelte';
import FivePrev from '../icons/five-prev.svelte';
import CatTheme from '../icons/cat-theme.svelte';
import CatFavicon from '../icons/cat-favicon.svelte';
import Play from '../icons/play.svelte';
import Pause from '../icons/pause.svelte';
</script>

<div class='edit-player'
     style="
            --gradient-display: {$gradientDisplay};
            ">
  <div class='display'>
    <marquee>
      {$newSongIsland.song.title} - {$newSongIsland.song.artist}
    </marquee>
    <p>{$ct} / {$dt}</p>
    <progress
      max={$audio.duration}
      value={$audio.time}
      >
    </progress>
  </div>
  <div class='controls'>
    <FivePrev click={()=> $audio.time = $audio.time - 5} scale="0.5"/>
      {#if $audio.paused}
      <Play click={()=> $audio.audio.play()} scale="0.5"/>
        {:else}
        <Pause click={()=> $audio.audio.pause()} scale="0.5"/>
          {/if}
          <FiveNext click={()=> $audio.time = $audio.time + 5} scale="0.5"/>
  </div>
</div>

<style>
/* Edit Player */
div.edit-player {
  display: flex;
  width: 200px;
  height: 225px;
  flex-flow: column;
  border-radius: 5px;
  z-index: 1;
  background: none;
}

div.display {
  height: 50%;
  max-width: 100%;
  background: var(--gradient-display);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

marquee{
  color: var(--accent-color);
  font-size: 0.5em;
}

div.display p {
  font-size: 0.75em;
  color: var(--accent-color);
  font-weight: 300;
}

div.edit-player button {
  background: aliceblue !important;
}

div.edit-player progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.45em;
  width: 75%;
  margin: 0.5em;
  position: relative;
}

div.edit-player progress::-webkit-progress-bar {
  background: transparent;
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 2px;
}

div.edit-player progress::-webkit-progress-value {
  background: var(--primary-color);
}

div.controls {
  width: 100%;
  background: linear-gradient(var(--accent-color), transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 8px 8px;
}
</style>
