<script>
import { newSongIsland} from '../../stores/new-songIsland.js';
import { aesthetic } from '../../stores/new-aesthetic.js';
import XBox from '../icons/xbox.svelte';
import { afterUpdate } from 'svelte';

import startsWith from 'lodash/startsWith.js';

// let us set whether this is for the song or picture.
export let medium;

let newLink = {
  name: '',
  url: ''
}

// We don't want people to accidentally make broken links,
// but we also don't wanna assume they wanted an http link.
// and we wanna be set up for the solarpunk future.
let cleanedUrl = (url) => {
  let validProtocols = ['https://', 'dat://', 'http://', 'mailto:', 'ssb://']
  let urlIsValid = validProtocols.some(protocol => startsWith(url, protocol))
  if (urlIsValid) {
    return url
  } else {
    return 'https://' + url
  }
}

let addLink = (e) => {
  e.preventDefault()
  newLink.url = cleanedUrl(newLink.url)
  $newSongIsland[`${medium} links`] = [...$newSongIsland[`${medium} links`], newLink] 
  newLink = {name: '', url: ''}
}

let removeLink = (chosenLink) => {
  $newSongIsland[`${medium} links`] = $newSongIsland[`${medium} links`].filter(link => {
    return link.name !== chosenLink.name &&
      link.url  !== chosenLink.url;
  })
}
</script>

<div id='edit-links'
     style="
            --primary-color: {$aesthetic.primaryColor};
            --accent-color: {$aesthetic.accentColor}">
  <div id='current-links'>
    <h3>Links For The {medium === 'song' ? 'Song' : 'Picture'}</h3>
    <ul id='edit-links-list'>
      {#each $newSongIsland[`${medium} links`] as link}
      <li>
        <button>
          <XBox click={() => removeLink(link)} isLink={false}/>
        </button>
        <p>{link.name}</p>
        <p>{link.url}</p>
      </li>
      {/each}
    </ul>
  </div>
  <div id='add-links'>
    <h3>Add A Link</h3>
    <form>
      <div class='form-group'>
        <label for='name'>Site Name:</label>
        <input id='name' type='text' bind:value={newLink.name} placeholder='e.g. bandcamp'/>
      </div>
      <div class='form-group'>
        <label for='url'>URL:</label>
        <input id='url' type='text' bind:value={newLink.url} placeholder='e.g. https://petalpa.bandcamp.com'/>
      </div>
      <input type='submit' value='add link!' on:click={addLink}/>
    </form>
  </div>
</div>

<style>
div#edit-links{width: 60vw; margin: 1em;}

div#add-links {
  display: grid;
  grid-template-columns: minmax(1em, 2em) 1fr;
  margin-top: 1em;
  margin-bottom: 1em;
  background: var(--primary-color);
}

div#add-links h3{
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  grid-row: 1 / -1;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-color);
}

div#add-links form {
  border: 1px solid var(--accent-color);
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

div#add-links label {
  background: var(--accent-color);
  color: var(--primary-color);
  font-weight: 300;
  max-width: 25%;
  opacity: 0.5;
}

div#add-links input[type='text'] {
  color: var(--accent-color);
  background: none;
  border: none;
  border-bottom: 1px solid var(--edit_color);
  border-color: var(--accent-color);
  margin-left: 0.5em;
  padding: 0;
  font-size: 1em;
  font-weight: 200;
  width: 75%;
}

div#add-links div.form-group {
  padding-top: 0.5em;
  padding-bottom: 0;
}
div#add-links div.form-group:last-of-type {
  padding-top: 0;
  padding-bottom: 1em;
}

div#add-links input[type=submit] {
  width: 100%;
  margin: 0;
  margin-top: 0.5em;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--accent-color);
  color: var(--primary-color);
  border: none;
  font-size: 1em;
  opacity: 1;
}

div#edit-links {
  margin-top: 2em;
}

ul#edit-links-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: 0;
}

ul#edit-links-list li {
  display: grid;
  grid-template-columns: minmax(1em, 2.5em) 1fr;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 1em 1em 0;
  font-size: 0.75em;
}

ul#edit-links-list p:first-of-type {
  background: var(--primary-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  text-align: center;
  font-weight: 300;
  margin: 0;
}

ul#edit-links-list p {
  margin: 0;
  font-weight: 300;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--accent-color);
  color: var(--primary-color);
}

ul#edit-links-list  button {
  background: none;
  margin: 0;
  background: var(--primary-color);
  border: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 3;
  cursor: pointer;
} 

ul#edit-links-list svg {
  height: 2em;
  width: 2em;
  fill: var(--accent-color);
}

div#edit-links h3 {
  margin-bottom: 1em;
  background: var(--primary-color);
}
</style>
