<script>
import {link, Link} from 'svelte-routing';
import AudioThumbnail from './audio-thumbnail.svelte';
import { aesthetic } from '../../stores/new-aesthetic.js';

let sections = [
  'song',
  'words',
  'picture',
  'aesthetic',
  'distro'
]

export let section = '';

$: activeSection = section.toLowerCase();
</script>

<aside id='edit-sidebar'
       style="
              --accent-color: {$aesthetic.accentColor};
              --primary-color: {$aesthetic.primaryColor};
              ">
  <AudioThumbnail /> 
  <nav>
    <ul>
      {#each sections as sect}
      <li class={sect === activeSection ? 'active' : ''}><Link to="/edit/{sect}" >edit {sect}</Link></li>
      {/each}
    </ul>
  </nav>
</aside>

<style>
aside#edit-sidebar {
  max-width: 200px;
  font-size: 1.25em;
  min-height: 100%;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

nav li {
  margin-bottom: 0.5em; 
}

nav :global(a) {
  color: var(--accent-color);
  display: block;
  padding: 1em;
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0.25em;
}

nav :global(li.active a) {
  background: var(--accent-color);
  color: var(--primary-color);
  opacity: 0.7;
}

nav :global( a:hover ) {
  background: var(--accent-color);
  color: var(--primary-color);
  opacity: 0.3;
}

</style>
