<script>
import marked from 'marked';
import { distro } from '../stores/distro.js';
import { songIsland } from '../stores/songIsland.js';
</script>

<main class='distro'>
  <div class="distro-words">
    <section class="bylines">
      <p><strong>{$songIsland.song.title} by {$songIsland.song.artist}</strong></p>
      {#if $songIsland.picture && $songIsland.picture.attribution}
      <em>with art from {$songIsland.picture.attribution}</em>
      {/if}

      {#if $distro.creator}
      <p class='creator'>A song island crafted by {$distro.creator}
        {#if $distro["creation date"]}
        on {$distro["creation date"]}
        {/if}
      </p>
      {/if}

    </section>

    {#if $distro["creator homepage"]}
    <section class='homepage'>
      <p> {$distro.creator}'s homepage is <a href="{$distro["creator homepage"]}" noreferrer noopener target="_blank">{$distro["creator homepage"]}</a></p>
    </section>
    {/if}

    {#if $distro.sharing}
    <p>
      For sharing, they requested:
      <quote>
        {@html marked($distro.sharing)}
      </quote>
    </p>
    {/if}

    {#if ($distro.riyl && $distro.riyl.length > 0) || ($distro.moods && $distro.moods.length > 0)}
    <section class="tags">
      <strong>they've offered these tags for your library:</strong>
      {#if $distro.riyl && $distro.riyl.length > 0}
      <div class='tagList'>
        <p>Recommended If You Like</p>
        <ul>
          {#each $distro.riyl as rec}
          <li>{rec}</li>
          {/each}
        </ul>
      </div>
      {/if}
      {#if $distro.moods && $distro.moods.length > 0}
      <div class="tagList">
        <p>Moods</p>
        <ul>
          {#each $distro.moods as mood}
          <li>{mood}</li>
          {/each}
        </ul>
      </div>
      {/if}
    </section>
    {/if}

  </div>
</main>

<style>

main.distro {
  color: var(--primary-color);
  font-size: 1.5em;
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 3rem;
  background: var(--gradient-display);
  opacity: 1;
  font-weight: 500;
  font-size: 0.75em;
}

a {
  text-shadow: none;
  background: var(--primary-color);
  color: var(--accent-color);
}

div.distro-words {
  width: 60%;
  -webkit-text-stroke: var(--accent-color);
  -webkit-text-stroke-width: 0.25px;
}

div.tagList {
  margin-top: 1em;
  background: var(--primary-color);
}

div.tagList p {
  text-align: center;
  font-variant-caps: small-caps;
  background: var(--accent-color);
  color: var(--primary-color);
}

div.tagList ul {
  list-style-type: none;
  color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.tagList li {
  margin-right: 1em;
  text-shadow: none;
}


strong {
  color: var(--primary-color);
  font-size: 1em;
}

p {
  color: var(--primary-color);
}

p.creator {
  margin-top: 0.75em;
}


quote {
  font-size: 0.8em;
  font-style: italic;
  font-weight: 400;
}

section {
  margin-bottom: 2rem;
}

section.tags {
  margin-top: 2rem;
}
</style>
