<script>
import { newSongIsland } from '../stores/new-songIsland.js';
import { songIsland } from '../stores/songIsland.js';
import { aesthetic } from '../stores/new-aesthetic.js';
import { link } from 'svelte-routing';

import Sidebar from '../components/sidebar.svelte';
// All the sweet sections to edit.
import Song from './edit-sections/Song.svelte';
import Picture from './edit-sections/Picture.svelte';
import Words from './edit-sections/Words.svelte';
import Distro from './edit-sections/Distro.svelte';
import Aesthetic from './edit-sections/Aesthetic.svelte';
import Links from './edit-sections/Links.svelte';
import Index from './edit-sections/Index.svelte';
import Finalize from './edit-sections/Finalize.svelte';

export let section = 'index';

let Section = {
  aesthetic: Aesthetic,
  song: Song,
  distro: Distro,
  picture: Picture,
  words: Words,
  links: Links,
  index: Index,
  save: Finalize
}
</script>

{#if section === "save"}
<svelte:component this={Section[section]} />
{:else}
<main id="edit-page"
      style="--primary-color: {$aesthetic.primaryColor};
             --accent-color: {$aesthetic.accentColor};">
  <Sidebar section={section}/> 
  <header>
    <h1>Edit Your {section}.</h1>
    <div id='save-buttons'>
      <a id='cancel' href="/main" use:link>cancel</a>
      <a id='save' href="/edit/save" use:link>save</a>
    </div>
  </header>
  <section>
    <svelte:component this={Section[section]} />
  </section>
</main>
{/if}

<style>
main#edit-page {
  display: grid;
  grid-template-columns: [col1]200px [col2] auto;
  grid-template-rows: [row1] 3em [row2-start] auto [row2-end];
  min-height: 100%;
  background: var(--primary-color);
}

section#finalize-page {
  min-height: 100%;
  width: 100%;
  background: var(--primary-color);
}


section  :global(buttonside) {
  grid-column: col1; 
  grid-row: row1 / row2-end;
  background: var(--primary-color);
}

header {
  grid-column: col2;
  grid-row: row1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
  padding: 0.5em;
}
div#save-buttons a {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  padding: 0.25em;
}

div#save-buttons a#save{
  background: var(--accent-color);
  border: none;
  color: var(--primary-color);
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: 300;
}

div#save-buttons a#cancel{
  background: var(--primary-color);
  border: 1px solid var(--accent-color);
  opacity: 0.5;
  color: var(--accent-color);
}

div#save-buttons a:active {
  opacity: 0.4 !important;
}
section {
  grid-column: col2;
  grid-row: row2-start / row2-end;
}
</style>
