<script>
import CharmBracelet from '../components/charm-bracelet.svelte';
import Song from './Song.svelte';
import Links from './Links.svelte';
import Words from './Words.svelte';
import Distro from './Distro.svelte';
import Main from './Main.svelte';

export let section = 'index';

let Section = {
  song: Song,
  "from-the-distro": Distro,
  links: Links,
  words: Words,
  main: Main,
}
</script>

<CharmBracelet />
  <section>
    <svelte:component this={Section[section]} />
  </section>
