<script>
import CharmBracelet from '../components/charm-bracelet.svelte';
import TopBar from '../components/top-bar.svelte';
import { songIsland } from '../stores/songIsland.js';
import { audio, ct, dt } from '../stores/audio.js';
import {
  Banner,
  Favicon,
  FiveNext,
  FivePrev,
  Play,
  Pause } from '../icons';

const handleMouseDown = (e) => {
  let progress = document.querySelector("progress")
  let {left, right} = progress.getBoundingClientRect()
  let time = $audio.duration * (e.clientX - left) / (right - left);
  $audio.time = time
}
</script>

<div class="player">
  <TopBar><Favicon scale="0.5"/></TopBar>
  <div class='display'>
    <div class='marquee'>
      <p>{$songIsland.song.title} - {$songIsland.song.artist}</p>
    </div>
    <div class='time'>
      <p>{$ct}</p>
      <Favicon scale="0.75" fill="var(--primary-color)"/>
      <p>{$dt}</p>
    </div>
    <progress on:mousedown={handleMouseDown}
              max={$audio.duration}
              value={$audio.time}>
      {$ct}
    </progress>
  </div>
  <div class='controls'>
    <FivePrev click={() => $audio.time = $audio.time - 5} />
    {#if $audio.paused}
    <Play click={() => $audio.audio.play()}/>
    {:else}
      <Pause click={() => $audio.audio.pause()}/>
    {/if}
    <FiveNext click={() => $audio.time = $audio.time + 5}/>
  </div>
  <div class="flair">
    <Banner />
  </div>
</div>

<style>
div.player {
  position: relative;
  max-width: 300px;
  height: 450px;
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  z-index: 1;
  margin: auto;
  margin-top: calc(100vh / 8);
  color: var(--primary-color);
}

div.display {
  border: 10px solid var(--primary-color);
  border-top: none;
  height: 45%;
  max-width: 100%;
  background: var(--gradient-display);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

marquee.title-and-artist {
  font-size: 1.3rem;
  padding-top: 0.5em;
  color: var(--primary-color);
}

div.time {
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.controls {
  width: 100%;
  height: 25%;
  background: var(--primary-color);
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  height: 0.45em;
  width: 75%;
  margin: 0.5em;
  position: relative;
}

progress::-webkit-progress-bar {
  background: transparent;
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: var(--primary-color);
}
div.flair {
  height: 15%;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

div.marquee {
 overflow: hidden;
 position: relative;
 height: 50px;
 width: 100%;
}
div.marquee p {
 position: absolute;
 width: 150%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(60%);
 -webkit-transform:translateX(60%);	
 transform:translateX(60%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(60%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(60%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(60%); /* Browser bug fix */
 -webkit-transform: translateX(60%); /* Browser bug fix */
 transform: translateX(60%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
</style>
