<script>
 import { songIsland } from '../stores/songIsland.js'
</script>

<section id='legend'>
  <p>The Song</p>
  <h1>“{$songIsland.song.title}”</h1>
  <h2>{$songIsland.song.artist}</h2>
</section>

<style>
section#legend {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: fadeIn ease-in 2s;
  padding: 0.5em;
  color: var(--accent-color);
  background: var(--primary-color);
}

p{
  text-align: right;
  opacity: 0.5;
  font-size: 0.75em;
  font-style: italic;
  font-weight: 400;
}

h1 {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}
h2 {
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
</style>
