<script>
import { songIsland } from '../stores/songIsland.js'
</script>

{#if $songIsland.picture && $songIsland.picture.title}
<section id='picture-legend'>
  <p class='tag'>The Picture</p>
  <h2>“{$songIsland.picture.title}”</h2>
  {#if $songIsland.picture.attribution}
  <p>{$songIsland.picture.attribution}</p>
  {/if}
</section>
{/if}

<style>
section {
  position: absolute;
  max-width: 33vw;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  animation: fadeIn ease-in 2s;
  color: var(--accent-color);
  background: var(--primary-color);
}

section h2 {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}
section p {
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
}

section p.tag {
  text-align: right;
  opacity: 0.5;
  font-size: 0.75em;
  font-style: italic;
  font-weight: 400;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
</style>



