<script>
import { XBox } from '../icons';
</script>

<div class="top-bar">
  <XBox scale="0.5" />
  <slot></slot>
</div>

<style>
div.top-bar {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 25px;
  border-radius: 5px 5px 0 0;
  background: var(--primary-color);
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
</style>
