<script>
import { newDistro} from '../../stores/new-distro.js';
import { tick } from 'svelte';

let add = async(list) => {
  $newDistro[list] = $newDistro[list].concat([''])
  let newTagIndex = $newDistro[list].length - 1
  await tick(); // wait a sec for the new element to be added to the dom.
  document.querySelector(`input#${list}-${newTagIndex}`).focus();
}

let remove = (selection, list) => {
  $newDistro[list] = $newDistro[list].filter(item => item != selection)
}
 let backToAdd = (e) => {
  // Check if they hit the enter key.
  // If so, we assume they're done updating the tag and want to move to the next.
    if (e.key === 'Enter') {
      e.preventDefault();
      let section = e.target.id.split('-')[0]
      document.querySelector(`button.add.${section}`).focus();
    }
   };
</script>

<section id='edit-distro'>
  <p class='helper-text'>This is useful information when you are sharing your song Island (like to zine libraries or song collections).  It's to tell others who you are and how you'd like this song island to be shared..</p>
  <form>

    <fieldset id='user-info'>
      <legend>About Yourself</legend>
      <div class='form-group'>
        <label for="creator">Yrself</label>
        <input id='creator' type='text' bind:value={$newDistro.creator}/>
                              </div>
      <div class='form-group'>
        <label for="creator homepage">Yr Homepage</label>
        <input id='creator homepage' type='text' bind:value={$newDistro["creator homepage"]} placeholder='dat:// or https://' />
      </div>

      <div class='form-group'>
        <label for="creation date">Creation Date</label>
        <input id='creation date' type='date' bind:value={$newDistro["creation date"]} />
      </div>
      <div class='form-group'>
        <label for="sharing">Sharing</label>
        <input id="sharing" type='text' bind:value={$newDistro.sharing} />
      </div>
    </fieldset>

    <fieldset id='riyl' class='tags'>
      <legend>Recommended if you like...</legend>
      <p class='helper-text'> what bands, artists, and other things are good comparison points for this song?</p>
      <div class='tags'>
      {#each $newDistro.riyl as rec, index}
      <div class="form-group" >
        <input bind:value={rec} id="riyl-{index}" on:keydown={backToAdd}/>
        <button on:click|preventDefault={() => remove(rec,'riyl')}>X</button>
      </div>
      {/each}
      <span class="add">
        <button class="add riyl" on:click|preventDefault={() => add('riyl')}>Add</button>
      </span>
      </div>
    </fieldset>

    <fieldset id='moods' class='tags'>
      <legend>Moods...</legend>
      <p class='helper-text'>What moods fit this song? </p>
      <div class='tags'>
      {#each $newDistro.moods as mood, index}
      <div class="form-group">
        <input bind:value={mood} id="moods-{index}" on:keydown={backToAdd}/>
        <button on:click|preventDefault={() => remove(mood,'moods')}>X</button>
      </div>
      {/each}
      <span class="add">
        <button class="add moods" on:click|preventDefault={() => add('moods')}>Add</button>
      </span>
      </div>
    </fieldset>

  </form>
</section>

<style>
 section#edit-distro {
   min-height: 100%;
   padding: 1em;
 }

 p.helper-text {
   padding: 1em;
   font-size: 0.75em;
   font-style: italic;
 }

 form {
   width: 60vw;
   margin: auto;
 }

 fieldset {
   position: relative;
   background: var(--primary-color);
   color: var(--accent-color);
   padding: 0;
   padding-top: 0.66em;
   padding-bottom: 0.66em;
   margin-bottom: 1.33em;
 }

 legend {
   background: var(--accent-color);
   color: var(--primary-color);
   text-align: center;
   width: 100%;
 }

 div.form-group{
   display: flex;
   width: 100%;
   margin: 0;
   padding: 0;
   padding-top: 0.33em;
   padding-bottom: 0.33em;
 }
 fieldset label {
   width: 20%;
   margin-left: 0;
   background: var(--accent-color);
   color: var(--primary-color);
   padding-left: 0.5em;
   padding-right: 0.5em;
   font-size: 0.8em;
 }

 fieldset#user-info input {
   width: 70%;
   background: none;
   padding-left: 0.5em;
   border: none;
   border-bottom: 1px solid var(--accent-color);
   font-size: 1em;
 }
 fieldset#user-info input[type='date'] {
   width: unset;
 }

 div.tags {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   padding: 1em;
 }

 fieldset.tags div.form-group {
   display: flex; 
   width: unset;
 }

 div.form-group button {
   height: 2em;
   display: flex;
   width: 1em;
   font-size: 0.6em;
   background: var(--accent-color);
   color: var(--primary-color);
   padding: 0;
   margin: 0;
   margin-right: 0.5em;
   border: none;
 }

 fieldset.tags input {
   width: unset;
   background: var(--accent-color);
   border: none;
   color: var(--primary-color);
   font-weight: 300;
   font-size: 1em;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0.5em;
   margin: 0;
   text-align: left;
 }
span.add {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 fieldset.tags button.add {
   border: 2px solid var(--accent-color);
   color: var(--accent-color);
   background: none;
   font-size: 1em;
 }

 </style>
