<script>
  import { newSongIsland } from '../../stores/new-songIsland.js';
  import { songIsland } from '../../stores/songIsland.js';
</script>

<section>
  <p>Click the links on the side to edit each section of your song island.</p>
  <p>When fully done, click save to save all changes.</p>
</section>

<style>
section {
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

p {
  margin-bottom: 1em;
}

</style>
