<p>Add some related links for the song and picture, like the band's bandcamp or the artist's patreon, or whatever else you'd like!</p>
   <div class='links add'>
   <h3>Add New Link</h3>
   <form on:submit|preventDefault={addNewLink} name='add-link'>
     <label for='url'>url:</label>
     <input class='link top'id='url' type='text' placeholder="url"/>
     <label for='description'>description:</label>
     <input class='link bottom' id='description' type='text' placeholder="description"  />
     <button class='link action' type='submit' id='submit-link'>Add Link</button>
  </form>
  </div>

  <div class='links update'>
  <h3>Update current links</h3>
  <form name='update-links'>
      {#each $newSongIsland.links as link, i}
      <div class="form-group" id='link-{i}' >
        <label class='hidden' for='url-{i}'>URL for link {i}</label>
        <input class='link top' id='url-{i}' bind:value={link.url} on:keydown={nextIfDone} />
        <label class='hidden' for='description-{i}'>Description for link {i}</label>
        <input class='link bottom' id='description-{i}' bind:value={link.description} on:keydown={nextIfDone} />
        <button class='link action' on:click|preventDefault={() => remove(link)}>X</button>
      </div>
      {/each}
</form>
</div>

<script>
 import { newSongIsland } from '../../stores/new-songIsland.js';
 import { onMount } from 'svelte'

 let withScheme = (url) => { 
   // given a url, check if it has a valid scheme.
   // If not, prepend it with 'https'
   let validSchemes = ['https://', 'dat://', 'http://', 'mailto:', 'ssb://']
   let urlIsValid = validSchemes.some(scheme => url.startsWith(scheme))
   return urlIsValid ? url : 'https://' + url;
 }

 let addNewLink = (e) => {
   let form = document.forms['add-link']
   let newLink = {
     url: withScheme(form.elements.url.value), 
     description: form.elements.description.value
     }
   $newSongIsland.links = [newLink].concat($newSongIsland.links)
   form.reset();
   form.elements.url.focus();
 } 

 let remove = (link) => $newSongIsland.links = $newSongIsland.links.filter(nsl => nsl !== link);

 let nextIfDone = (e) => {
  // Check if they hit the enter key.
  // If so, we assume they're done updating the link and want to move to the next.
    if (e.key === 'Enter') {
      e.preventDefault();
      let index = parseInt(e.target.id.split('-')[1])
      let next = index + 1
      let links = $newSongIsland.links
      if (next === links.length) {
        // go to the 'add-link' url input
        document.querySelector('input#url').focus();
      } else {
        // go to the next edit-link input
        document.querySelector(`input#url-${next}`).focus();
      }
    }
   };

 onMount(() => document.querySelector('input#url').focus()); 
</script>

<style>

 p {
   width: 80%;
   margin: auto;
   margin-top: 1em;
   margin-bottom: 1em;
   font-style: italic;
   font-weight: 300;
 }

 div.links {
   width: 80%;
   margin: auto;
   margin-bottom: 2em;
 }

 div.links.add ,
 form[name='update-links'] {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 0.5em;
 }

 div.links h3 {
   color: var(--accent-color);
   grid-column: 1 / 3;
 }
 div.links.update h3 { margin-bottom: 0.5em;}


 form[name="add-link"] ,
 div.form-group {
   display: grid;
   grid-template-areas: "ui x"
                        "di x";
   grid-template-columns: 1fr 2em;
 }

 input.link {
   padding: 0.25em;
   font-size: 0.75em;
   border: none;
 }

 input.link.top {
   grid-area: ui;
   background-color: var(--accent-color);
   color: var(--primary-color);
 }

 input.link.top::placeholder{
   color: var(--primary-color);
   opacity: 0.75;
   font-style: italic;
 }
 input.link.top:focus {
   border-color: var(--primary-color);
   box-shadow: 0 1px 8px var(--primary-color) inset, 0 0 8px var(--primary-color);
   outline: 0 none;
 }

 input.link.bottom  {
   grid-area: di;
   border: 1px solid var(--accent-color);
   border-top: none;
   color: var(--accent-color);
   background: var(--primary-color);
 }

 input.link.bottom::placeholder{
   color: var(--accent-color);
   opacity: 0.75;
   font-style: italic;
 }

 input.link.bottom:focus {
   border-color: var(--accent-color);
   box-shadow: 0 1px 8px var(--accent-color) inset, 0 0 8px var(--accent-color);
   outline: 0 none;
 }

 button.link.action {
   grid-row: 1 /3;
   background: var(--accent-color);
   color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8em;
   padding: 0;
   border: 1px solid var(--accent-color);
 }

 button.link.action:hover {
   opacity: 0.5;
 }

 label { 
/* 
just for the screen readers. 
'i can't see your heart but i hear it beat.' 
- dave matthews, 'blood in the water' 
*/
   display: none; 
 }
 </style>
