<script>
import { aesthetic } from '../../stores/new-aesthetic.js';
import { newSongIsland } from '../../stores/new-songIsland.js';

let handlePictureChange = (e) => {
  // the browser won't want to read from local files directly 
  // for security reasons, so we make our image into a safe
  // browser ready blog.
  let image = e.target.files[0]
  let imageBlob = URL.createObjectURL(image);
  $aesthetic.pictureFile = image;
  $aesthetic.picture = `url(${imageBlob})`;
  $newSongIsland.pictureFile = image;
  $newSongIsland.picture.src = `zine/${image.name}`;
}
</script>

<section
  id='edit-backdrop'
  style=" --background-color: {$aesthetic.backgroundColor}; 
         --primary-bg: {$aesthetic.picture};
         --bg-size: {$aesthetic.backgroundSize};
         --bg-position: {$aesthetic.backgroundPosition};
         --bg-repeat: {$aesthetic.backgroundRepeat};
         --primary-color: {$aesthetic.primaryColor};
         --accent-color: {$aesthetic.accentColor}; ">
  <form >
    <fieldset id='background'>
      <legend>Set the Background</legend>
      <div class='fields'>
        <div class='form-group file'>
          <label for='picture'>Image: </label>
          <input id='picture' type='file' accept='.jpg, .jpeg, .png, .gif' on:change={handlePictureChange}/>
        </div>
        <div class='form-group'>
          <label for='backgroundColor'>Color: </label>
          <input id='backgroundColor' type='color' bind:value={$aesthetic.backgroundColor} />
        </div>
        <div class='form-group'>
          <label for='backgroundSize'>Size: </label>
          <select id='backgroundSize' bind:value={$aesthetic.backgroundSize}>
            <option value='contain'>contain</option>
            <option value='cover'>cover</option>
            <option value='auto'>auto</option>
          </select>
        </div>
        <div class='form-group'>
          <label for='backgroundPosition'>Position: </label>
          <select id='backgroundPosition' bind:value={$aesthetic.backgroundPosition}>
            <option value='contain'>top</option>
            <option value='bottom'>bottom</option>
            <option value='left'>left</option>
            <option value='right'>right</option>
            <option value='center'>center</option>
          </select>
        </div>
        <div class='form-group'>
          <label for='backgroundRepeat'>Repeat: </label>
          <select id='backgroundRepeat' bind:value={$aesthetic.backgroundRepeat}>
            <option>Repeat</option>
            <option>No-Repeat</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset id='attribution-and-accessibility'>
      <legend>Attribution and Accessibility</legend>
      <div class='fields'>

        <div class="form-group">
          <label for="title"><span class="title">Title</span>
          <input type="text" bind:value={$newSongIsland.picture.title} aria-describedby="title-helper"/>
          </label>
          <p id="title-helper">What's the name of the picture used?</p>
        </div>

        <div class="form-group">
          <label for="attribution"><span class="title">Attribution</span>
          <input type="text" bind:value={$newSongIsland.picture.attribution} placeholder="who made this?" aria-describedby="attribution-helper"/>
          </label>
          <p id="attribution-helper">Who is the creator of the picture, or what is the source?</p>
        </div>

        <div class="form-group">
          <label for="description"><span class="title">Description</span>
          <input type="text" bind:value={$newSongIsland.picture.description} placeholder="what is this? what are we seeing?" aria-describedby="description-helper"/>
          </label>
          <p id="description-helper">Give a short descriptin of the image for the friends who cannot see, or cannot see well.</p>
        </div>

      </div>
  </form>
</section>

<style>
section#edit-backdrop {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--background-color);
  background-image: var(--primary-bg);
  background-size: var(--bg-size);
  background-repeat: var(--bg-repeat);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

form {
  position: relative;
  width: 60vw;
  height: auto;
  padding: 1em;
}

fieldset {
  background: var(--primary-color);
  margin: 1em;
}

legend {
  background: var(--accent-color);
  color: var(--primary-color);
  text-align: center;
  width: 106%;
}
/* dummy div put in because chromium won't accept the interior of fieldsets to be grids */
div.fields{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.form-group{
  display: flex;
  margin: 0.3em;
  align-items: center;
  font-size: .8em;
}
div.form-group.file{
  width: 100%;
}

fieldset#attribution-and-accessibility div.fields {
  align-items: flex-start;
}

fieldset#attribution-and-accessibility div.form-group {
  flex-flow: column;
  width: 100%;
  justify-content: left;
  margin-bottom: 1em;
}
fieldset#attribution-and-accessibility label {
  width: 100%;
}

fieldset#attribution-and-accessibility span.title {
  background: var(--accent-color);
  color: var(--primary-color);
  padding-left: 0.5em;
  padding-right: 0.5em; 
}

fieldset#attribution-and-accessibility input {
  background: none;
  border: none;
  margin-left: 0;
  padding-left: 0.25em;
  font-size: 1em;
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
  width: 75%;
}
fieldset#attribution-and-accessibility p {
  width: 100%;
  text-align: left;
  font-size: 0.8em;
  font-style: italic;
}

div#edit-links {
  margin-top: 2em;
}

ul#edit-links-list {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: 0;
}

ul#edit-links-list li {
  display: grid;
  grid-template-columns: minmax(1em, 2.5em) 1fr;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 1em 1em 0;
  font-size: 0.75em;
}

ul#edit-links-list p:first-of-type {
  background: var(--primary-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  text-align: center;
  font-weight: 300;
  margin: 0;
}

ul#edit-links-list p {
  margin: 0;
  font-weight: 300;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  background: var(--accent-color);
  color: var(--primary-color);
}

ul#edit-links-list  button {
  background: none;
  margin: 0;
  border: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 3;
  cursor: pointer;
} 

ul#edit-links-list svg {
  height: 2em;
  width: 2em;
  fill: var(--accent-color);
}

div#edit-links h3 {
  margin-bottom: 1em;
}

div#edit-song-input div.form-group {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: minmax(1em, auto) 1fr;
}

div#edit-song-input input[type=file] {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
</style>
