<script>
import { newSongIsland} from '../../stores/new-songIsland.js';
import { aesthetic } from '../../stores/new-aesthetic.js';
import {audio} from '../../stores/audio.js'
import * as mm from 'music-metadata-browser';

let editing = false;
$: chosenSong = {};
$: chosenFile = undefined;
$: newSongUploaded = $newSongIsland.file;

// handles when you click to change a song, or cancel mid-change.
function toggleChange () {
  chosenSong = {}; 
  chosenFile = undefined;
  editing = !editing;
}

function handleSongUpload (e) {
  let songInput = document.querySelector('#song-src')
  let songFile = songInput.files[0]
  chosenFile = songFile;
  mm.parseBlob(songFile).then(metadata => {
    chosenSong.title = metadata.common.title
    chosenSong.artist = metadata.common.artist
    chosenSong.src = `zine/${chosenFile.name}`
  })
};

function handleSubmit (e) {
  e.preventDefault();
  $audio.audio.pause();
  $audio.time = 0;
  $newSongIsland.song= {...chosenSong};
  $newSongIsland.file = chosenFile
  $audio.audio.src = URL.createObjectURL($newSongIsland.file);
  $audio.audio.play();
  toggleChange();
}
</script>

<section id='edit-song'
         style="
                --primary-color: {$aesthetic.primaryColor};
                --accent-color: {$aesthetic.accentColor}
                ">

  {#if !editing}
  <div id='edit-song-details'>
    <p class="song title"> “{$newSongIsland.song.title}”</p>
    <p class="song artist">by {$newSongIsland.song.artist}</p>
  <button on:click={toggleChange}>Change Song</button>
  </div>

  {:else}

    {#if Object.entries(chosenSong).length === 0 && chosenSong.constructor === Object}
     <div id='choose-new-song'>
       <h2>Choose New Song</h2>
       <form>
         <div class='form-group'>
           <label for='song-src'>Choose file…</label>
           <input id='song-src' type='file' accept='.mp3, .ogg, .flac' on:change={handleSongUpload}/>
         </div>
       </form>
       <button on:click={toggleChange} class="cancel">Cancel</button>
     </div>

   {:else}
   <div id='edit-song-input'>
     <p>file: <code>{chosenFile.name}</code></p>
     <form>
       <div class='form-group'>
         <label for='song-title'>Title:</label>
         <input id='song-title' class='song artist' type='text' bind:value={chosenSong.title}/>
       </div>
       <div class='form-group'>
         <label for='song-artist'>Artist:</label>
         <input id='song-artist' class='song artist' type='text' bind:value={chosenSong.artist}/>
       </div>
       <input type='submit' on:click={handleSubmit} value='Save Choice'/>
         <button on:click={toggleChange} class="cancel">Cancel</button>
     </form>
   </div>
   {/if}
  {/if}
</section>

<style>
section#edit-song {
  padding: 2em;
  color: var(--accent-color);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#edit-song-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#edit-song-details p {
  display: flex;
  color: var(--accent-color);
  align-items: center;
}

p.song.title ,
input.song.title
{
  font-size: 2em; 
  font-weight: 300;
}

p.song.artist ,
input.song.artist
{
  font-size: 1.5em;
  font-weight: 300;
}

#edit-song-details button {
  background: var(--accent-color);
  color: var(--primary-color);
  border: none;
  font-weight: 400;
  font-size: 1.5em;
  padding: 0.25em;
  margin: 1em;
  display: flex;
  font-variant-caps: all-petite-caps;
  cursor: pointer;
}

#edit-song-details button:hover {
  opacity: 0.75;
}

/*
Insired by https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
*/
input#song-src {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for='song-src'] {
  font-size: 1.25em;
  font-weight: 300;
  background: var(--accent-color);
  color: var(--primary-color);
  display: inline-block;
  padding: 0.25em;
  cursor: pointer;
}

label[for='song-src']:hover {
  opacity: 0.75;
}

button.cancel {
  opacity: 0.75em;
  background: var(--accent-color);
  color: var(--primary-color);
  font-size: 0.75em;
  margin-top: 1em;
}
div#choose-new-song {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
}

#edit-song-input {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#edit-song-input h2 {margin-bottom: 0.25em; font-weight: 400;}

#edit-song-input form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#edit-song-input p  {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.85em;
}

#edit-song-input input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
  margin: 0.25em;
}

#edit-song-input input[type="submit"] {
  border: none;
  background: var(--accent-color);
  color: var(--primary-color);
  font-size: 1.5em;
  padding: 0.25em;
  margin-top: 0.25em;
}
</style>
