<script>
import { newSongIsland, words } from '../../stores/new-songIsland.js';
import { aesthetic, gradient } from '../../stores/new-aesthetic.js';
</script>

<section id='edit-words'>
  <p class="hint">Add your thoughts about the song, the picture, the light, the night, your life, your love, or  whatever feels good!  This can be written in markdown, which means you can include formatting like headers, lists, and links.  Here is <a href="https://www.gimp.org/about/meta/markdown.html" target="_blank" rel="noopener noreferrer">a guide to markdown</a>, if you're keen.</p> 
<textarea
    style="--gradient-display: {$gradient.display};"
    bind:value={$newSongIsland.words} 
    placeholder='add your thoughts...'/>
</section>

<style>
section#edit-words {
  width: 100%;
  display: flex;
  flex-flow: column;
}

section#edit-words textarea {
  padding: 2em;
  width: 60%;
  min-height: 80vh;
  background: var(--gradient-display);
  border-radius: 5px;
  color: var(--background-color);
  font-weight: 400;
  overflow-y: scroll;
  margin: auto;
  font-size: 1em;
  resize: none;
  margin-bottom: 1em;
}
p.hint {
  width: 90%;
  font-style: italic;
  padding: 1em;
  font-size: 0.85em;
  margin-bottom: 1em;
}
p.hint a {
  background: var(--accent-color);
  color: var(--primary-color);
  text-decoration: none;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
section#edit-words textarea:focus {
  outline: none !important;
  box-shadow: 0 0 20px var(--accent-color);
}

section#edit-words textarea::-webkit-scrollbar {
  background: none;
}

section#edit-words textarea::-webkit-scrollbar-track {
  border-left: 1px solid var(--primary-color);
  opacity: 0.5;
  background: none;
}

section#edit-words textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 5px;
  background-clip: content-box;
}

section#edit-words textarea::-webkit-scrollbar-thumb:vertical {
  height: 10px;
}

section#edit-words textarea::-webkit-scrollbar-track-piece {
  height: 30px;
}
</style>
