<script>
  export let scale = 1;
  export let fill= "var(--accent-color)";
  export let click;
</script>
<style>
  button {
    background: none;
    border: none;
  }
</style>

<button on:click={click}>
  <svg xmlns="http://www.w3.org/2000/svg" width="62" height="57" transform="scale({scale})" fill="{fill}">
  <path fill="none" d="M0 .5V0h21v.5q0 .5-.5.5h-3q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5H0V.5"/>
  <path d="M21 .5V0h15v.5q0 .5.5.5h3q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5H62v1h-.5q-.5 0-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5q-.5 0-.5-.5t-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5q0-.5.5-.5h4q.5 0 .5-.5t-.5-.5-.5-.5v-1-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-10q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5v2q0 .5-.5.5t-.5.5v10q0 .5.5.5t.5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h10q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5h5q.5 0 .5.5v2q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5v.5H20v-.5q0-.5-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5H0V20h.5q.5 0 .5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h3q.5 0 .5-.5"/>
  <path fill="none" d="M36 .5V0h26v20h-5.5q-.5 0-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-3Q36 1 36 .5"/>
  <path fill="none" d="M23 5.5q0-.5.5-.5h10q.5 0 .5.5t.5.5h2q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5v2q0 .5.5.5t.5.5q0 .5-.5.5h-4q-.5 0-.5.5t.5.5.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5q.5 0 .5-.5t.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5h.5v36H37v-.5q0-.5.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1q0-.5-.5-.5h-5q-.5 0-.5.5v1q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-10q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5v-1-1q0-.5-.5-.5t-.5-.5v-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5v-1-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5v-1q0-.5.5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5M31.5 46q.5 0 .5-.5t.5-.5h2q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5.5-.5.5-.5.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-13q-.5 0-.5-.5v-1-1-1-1-1q0-.5.5-.5h2q.5 0 .5.5t.5.5h13q.5 0 .5-.5t.5-.5.5-.5v-1-1q0-.5-.5-.5h-12q-.5 0-.5-.5t-.5-.5h-6q-.5 0-.5.5t-.5.5-.5.5-.5.5-.5.5v11q0 .5.5.5h7q.5 0 .5-.5t.5-.5h1q.5 0 .5.5t.5.5h5q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5v1q0 .5.5.5t.5.5v5q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-1q-.5 0-.5.5t-.5.5h-5q-.5 0-.5-.5t-.5-.5h-3q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5.5t-.5.5-.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5h3q.5 0 .5.5t.5.5h8"/>
  <path d="M19 13.5q0-.5.5-.5h6q.5 0 .5.5t.5.5h12q.5 0 .5.5v2q0 .5-.5.5t-.5.5-.5.5h-13q-.5 0-.5-.5t-.5-.5h-2q-.5 0-.5.5v5q0 .5.5.5h13q.5 0 .5.5t.5.5h1q.5 0 .5.5t.5.5.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5v9q0 .5-.5.5t-.5.5v1q0 .5-.5.5t-.5.5-.5.5-.5.5-.5.5-.5.5-.5.5h-1q-.5 0-.5.5t-.5.5h-2q-.5 0-.5.5t-.5.5h-8q-.5 0-.5-.5t-.5-.5h-3q-.5 0-.5-.5t-.5-.5-.5-.5-.5-.5-.5-.5v-1q0-.5.5-.5t.5-.5.5-.5h2q.5 0 .5.5t.5.5h3q.5 0 .5.5t.5.5h5q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5h1q.5 0 .5-.5t.5-.5.5-.5v-1q0-.5.5-.5t.5-.5v-1-1-1-1-1q0-.5-.5-.5t-.5-.5v-1q0-.5-.5-.5t-.5-.5-.5-.5h-1q-.5 0-.5-.5t-.5-.5h-5q-.5 0-.5-.5t-.5-.5h-1q-.5 0-.5.5t-.5.5h-7q-.5 0-.5-.5v-1-1-1-1-1-1-1-1-1-1-1q0-.5.5-.5t.5-.5.5-.5.5-.5"/>
  <path fill="none" d="M0 37.5V37h.5q.5 0 .5.5v2q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5v1q0 .5.5.5t.5.5.5.5.5.5.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5.5.5.5.5h1q.5 0 .5.5t.5.5h2q.5 0 .5.5v.5H0V37.5"/>
</svg>
</button>
