  <style>
  svg{width: 100%;}
  </style>
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 900.000000 900.000000"
  fill="yellow"
transform="scale(1.5)"
  preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,900.000000) scale(0.100000,-0.100000)"
    stroke="none">
    <path d="M80 8972 c-14 -15 -33 -38 -42 -52 -17 -24 -18 -257 -18 -4430 0
    -4246 1 -4406 18 -4433 10 -15 27 -34 38 -42 17 -12 588 -14 4419 -15 l4401 0
    32 29 c17 17 32 35 32 40 0 6 9 16 20 23 11 7 20 16 20 21 0 4 -5 5 -10 2 -7
    -4 -10 1457 -10 4375 0 2918 3 4379 10 4375 6 -3 10 -2 10 2 0 5 -9 14 -20 21
    -11 7 -20 18 -20 25 -1 6 -14 23 -30 37 -17 13 -30 30 -30 37 0 11 -801 13
    -4397 12 l-4398 -1 -25 -26z m8583 -608 c23 -7 51 -34 60 -58 9 -22 9 -6762 1
    -6804 -4 -22 -17 -38 -41 -52 l-34 -20 -4158 0 -4158 0 -36 37 -37 36 0 3393
    c0 3361 0 3394 20 3426 13 22 32 36 56 43 40 11 8292 10 8327 -1z"/>
    </g>
  </svg>
