<script>
  import { onMount, afterUpdate } from 'svelte';
import { songIsland } from './stores/songIsland.js';
import { audio } from './stores/audio.js';
import { Router, Route } from "svelte-routing";

import Title from './pages/Title.svelte';
import Layout from './pages/Layout.svelte';
import Edit from './pages/Edit.svelte';

export let url = '';

// set audio only after mount, otherwise it tries to set before it can find
// the actual player
onMount(() => {
  $audio.audio = document.querySelector('#audio-player');
})

// When we are at the end of the song, go back to beginning.
afterUpdate(() => {
  if ($audio.time === $audio.duration) {
    $audio.time = 0
  }
})
</script>

<span class="background-image" role="img" aria-label="{$songIsland.picture.description}"> </span>
<audio id='audio-player'
       src={$songIsland.song.src}
       bind:currentTime={$audio.time}
       bind:duration={$audio.duration}
       bind:paused={$audio.paused}>
       bind:this={$audio.audio}>
</audio>

<Router url="{url}">
  <Route path="/" component={Title} />
  <Route path="/edit" component={Edit} />
  <Route path="/edit/:section" component={Edit} />
  <Route path="/:section" component={Layout} />
</Router>
