<script>
 import { aesthetic } from '../../stores/new-aesthetic.js';
 export let scale = '1';
 export let fill;
 import cats from './cats.svelte';
 import aliens from './aliens.svelte';

 let themes = {
   cats,
   aliens
   }
 $: chosenTheme = themes[$aesthetic.theme] || themes['cats']
</script>

<svelte:component this={chosenTheme} {scale} {fill}/>
